/* Add your quick links CSS styling here */
.quick-section {
    padding: 40px 0;
    background-color: #f5f5f5;
}

.copyright-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.links {
    font-size: 14px;
    color: #666;
}


