/* Section Styling */
.video-section-static {
    padding: 60px 0;
    background-color: #f9f9ff;
    text-align: center;
}

/* Title */
.video-title {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.video-desctiption {
    font-weight: 500;
    color: #000;
    font-family: "DM Sans", sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}


/* Video Styling */
.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.video-player {
    width: 100%;
    max-width: 1300px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


